.cell {
    width: 100px;
    height: 100px;
    margin: 0;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}